/*Generales*/
body {
  margin: 0;
  padding: 0;
}

.np {
  padding-left: 0px;
  padding-right: 0px;
}

.alignContent{
  display: flex;
  align-items: center;
}
.aligContentEnd{
  display: flex;
  align-items: flex-end;
}

.colorSection{
  background-color: #f4f4f4;
}

.spaceSection {
  margin: 80px 0px;
}

.paddingSection{
  padding-top: 80px;
  padding-bottom: 80px;
}
.imgResponsive{
  width: 100%;
  margin:auto;
}

.lineSection{
  border-bottom: 1px solid #c7c7c7;
}

/*Header*/
.headerSpace {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: transparent;
  transition: 0.6s all;
}

.backgroundLogo{

  background-color: white;
  padding: 15px;
}

.headerSpaceC {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.6s all;
}

.nav {
  display: grid;
  transition: 0.6s all;
}

.linksHeader {
  align-items: none;
  display: block;
}

.linksHeaderC {
  align-items: center;
  display: grid;
}

.logo-responsive {
  width: 100%;
  margin: auto;
  max-width: 200px;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.links li {
  float: left;
  text-align: center;
  margin: 10px 0px;
}

.links li a {
  text-decoration: none;
  color: #232323;
  font-size: 16px;
  transition: 0.4s all;
  font-family: 'gotham_book';
}

.links li a:hover,
.links li a:focus {
  text-decoration: none;
  color: #e56302;
  font-size: 16px;
  transition: 0.4s all;
}

.linksFooter {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.linksFooter li {
  float: left;
  text-align: center;
  margin: 10px 0px;
}

.linksFooter li a {
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  font-size: 14px;
  font-family: 'gotham_book';
  transition: 0.4s all;
}

.linksFooter li .active {
  text-decoration: none;
  color: #e56302;
  transition: 0.4s all;
}

.linksFooter li a:hover,
.links li a:focus {
  text-decoration: none;
  color: #e56302;
  font-size: 14px;
  transition: 0.4s all;
}

.lineNav {
  color: #232323;
  margin: 0px 15px;
}

.displayLogoFooter {
  display: grid;
  align-items: center;
}

.lineNavFooter {
  color: white;
}

.active {
  text-decoration: none !important;
  color: #e56302 !important;
  transition: 0.4s all !important;
}

.lineFooter {
  height: 1px;
  width: 100%;
  background-color: white;
}


.bte1:hover .spn2 {

  transition: all 0.5s;

  /*margin-top: 13px;
    margin-bottom: 13px;*/

}

.bte2 {
  width: 60px;
  height: 30px;
  padding: 0px 0px 0px 26px;
  background-color: transparent;
  border: 0px;
  box-shadow: 0px 0px 0px transparent;
  transition: all 0.3s;
  outline: none;
  float: right;

}

/*movil*/
.spn12 {
  height: 5px;
  background-color: #e56302;
  display: block;
  position: relative;
  transition: all 0.3s;
  bottom: 0px;
  border-radius: 100px;
}

.spn22 {
  height: 5px;
  background-color: #e56302;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
  border-radius: 100px;

}

.spn32 {
  height: 5px;
  background-color: #e56302;
  display: block;
  position: relative;
  transition: all 0.3s;
  top: 0px;
  border-radius: 100px;
}

.spn42 {
  height: 5px;
  background-color: #e56302;
  display: block;
  position: relative;
  transition: all 0.3s;
  bottom: 15px;
  opacity: 0;
  transform: rotate(45deg);
  border-radius: 100px;
}

.spn62 {
  height: 5px;
  background-color: #e56302;
  display: block;
  position: relative;
  transition: all 0.3s;
  top: -20px;
  opacity: 0;
  transform: rotate(-45deg);
  border-radius: 100px;
}

#subheader {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 998;
  margin-right: -6000px;
  transition: 0.5s all;
  width: 100%;
  right: 0;
}

.subnav-mobile {
  list-style: none;
  text-decoration: none;
  padding: 65px 5px 25px 5px;
  margin: 0;
  width: 100%;
  height: 1200px;
}

.subnav-mobile li {
  text-decoration: none;
  height: 46px;
  padding-left: 15px;
  line-height: 46px;
  text-align: center
}

.subnav-mobile li a {
  font-size: 20px;
  text-decoration: none;
  color: #232323;
  font-family: 'gotham_book';
  transition: 0.4s all;

}

.subnav-mobile li a:hover,
.subnav-mobile li a:focus {
  text-decoration: none;
  color: #e56302;
  font-size: 20px;
}


/*Footer*/
.colorFooter {
  background-color: #a8a8a8;
  width: 100%;
  padding: 80px 0px;
}

.linksCentradoFooter {
  align-items: center;
}

.displayLinks {
  display: grid;
  margin-bottom: 25px;
  margin-top: 15px;
}

.titleNumber {
  color: white;
  font-family: 'poppins_semibold';
  font-size: 14px;
  margin-right: 8px;
}

.numberFooter {
  color: white;
  font-family: 'poppins_semibold';
  font-size: 24px;
}

.footerLeft {
  color: white;
  font-size: 14px;
  font-family: 'poppins_regular';
  line-height: 18px;
}

.numberIcon {
  width: 32px;
  margin: auto;
  margin-right: 8px;
}

.spaceDetails {
  margin-top: 30px;
}

/*Inicio*/
.detalleNoticia p{
  color: black;
  font-family: 'poppins_regular';
  font-size: 12px;
  font-style: italic;
  margin: 0px;
}
.iconRedes{
  width: 36px;
}
.bannerBack {
  width: 100%;
  min-height: 950px;
  background-position: center;
  background-size: cover;
  min-height: 950px;
  display: grid;
  align-items: flex-end;
}

.positionText {
  margin-top: 20px;
  margin-bottom: 80px;
}

.buttonLeerMas {
  background-color: #e56302;
  padding: 25px 60px;
  text-decoration: none;
  border-radius: 40px;
  color: white;
  font-size: 18px;
  font-family: 'poppins_bold';
  transition: 0.4s all;
}


.buttonLeerMas:hover {
  background-color: white;
  padding: 25px 60px;
  text-decoration: none;
  border-radius: 40px;
  color: #e56302;
  font-size: 18px;
  font-family: 'poppins_bold';
}

.espaciadoNoticias {
  margin-top: 50px;
  margin-bottom: 25px;
}

.espaciadoRedes {
  margin-top: 50px;
  margin-bottom: 25px;
}

.tituloSection {
  margin-top: 15px;
  margin-bottom: 5px;
}

.tituloSection h1 {
  font-family: 'montserrat_bold';
  font-size: 24px;
  color: #333b55;
  margin: 0px 0px 10px 0px;
}

.lineCabecera {
  height: 2px;
  width: 100%;
  background-color: #e56302;
  margin-bottom: 20px;
}

.noticiaPrincipalContainer {
  margin-bottom: 25px;
  text-decoration: none;
}

.noticiaPrincipal {
  height: 320px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
}

.contenidoNoticiaPrincipal {
  position: absolute;
  bottom: 20px;
}

.textNoticiaDestacada {
  font-size: 14px;
  font-family: 'poppins_regular';
  color: #333b55;
  line-height: 20px;
  word-break: break-word;
}

.headNoticia {
  display: inline-flex;
  align-items: center;
}

.headUltimaNoticia {
  display: inline-flex;
  align-items: center;
}

.etiquetaNoticia {
  background-color: #d01e1e;
  color: white;
  padding: 5px 10px;
  margin-right: 20px;
  font-size: 14px;
  font-family: 'poppins_regular';
}

.iconCalendar {
  margin-right: 10px;
}

.fechaNoticia {
  color: white;
  display: flex;
  align-items: center;
  font-family: 'montserrat_semibold';
  font-size: 18px;
}

.fechaUltimaNoticia {
  color: #333b55;
  display: flex;
  align-items: center;
  font-family: 'montserrat_semibold';
  font-size: 18px;
}

.tituloNoticia h1 {
  margin: 15px 0px;
  color: white;
  font-family: 'montserrat_semibold';
  font-size: 32px;
}

.paddingUltimaNoticia {
  padding: 10px 20px 0px !important;
}

.ultimaNoticia {
  margin-bottom: 25px;
  text-decoration: none;
}

.imgUltimaNoticia {
  width: 100%;
  margin: auto;
}

.tituloUltimaNoticia h1 {
  margin: 15px 0px;
  color: #333b55;
  font-family: 'montserrat_semibold';
  font-size: 24px;
}

.textoUltimaNotica p {
  color: #333b55;
  font-family: 'poppins_regular';
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  height: 120px;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
}

.comentariosUltimaNoticia {
  display: inline-flex;
  align-items: center;
  color: #333b55;
  font-family: 'poppins_medium';
  font-size: 16px;
}

.iconInstagram {
  position: absolute;
  top: 10px;
  right: 10px;
}

.linkInstagram {
  width: 145px;
  height: 145px;
}

.espacioInstagram {
  margin-bottom: 50px;
}

.imageInstagram {
  padding: 3px !important;
}

.facebook {
  background-color: #3b5999;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.twitter {
  background-color: #28b6f6;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.linkedin {
  background-color: #1ea0d0;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.youtube {
  background-color: #d90000;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.logoRedSocial {
  align-items: center;
  border-right: 1px solid white;
  text-align: center;
  padding: 10px;
  width: 70px;
}

.redesHome {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.redesHome li {
  text-decoration: none;
  list-style: none;
  float: left;
  width: 33.33333%;
  text-align: left;
  margin: 5px 0px;
}

.redesHome li a {
  text-decoration: none;

}

.textoRedSocial {
  margin: auto;
  color: white;
  font-size: 16px;
  font-family: 'montserrat_semibold';
}

.numeroSeguidores {
  color: white;
  font-size: 18px;
  font-family: 'montserrat_semibold';
}

.suscripcionHome {
  background-color: #f2f2f2;
  padding: 30px !important;
}

.tituloSuscripcion {
  text-align: center;
  color: #333b55;
  font-size: 24px;
  line-height: 25px;
  font-family: 'montserrat_semibold';
}

.formSuscripcion {
  text-align: center;
  margin: 15px 0px;

}

.inpuSuscripcion {
  border: 1px solid #d01e1e;
  outline: none;
  padding: 8px;
  font-size: 16px;
  font-family: 'poppins_medium';
  text-align: center;
  width: 100%;
}

.submitSuscription {
  text-align: center;
}

.suscripcionBtn {
  background-color: #d01e1e;
  border: 0;
  outline: none;
  padding: 8px 10px;
  color: white;
  font-size: 15px;
  font-family: 'poppins_medium';
}

/*Nosotros*/
.bottonQuienesSomos{
background-color: rgba(255, 255, 255, 0.9);
padding: 40px 30px;
margin-top: 50px;
height: 260px;
width: 280px;
}
.links-nosotros{
  padding: 0;
  margin: 0;
}
.links-nosotros li{
  list-style: none;
  margin-bottom: 25px;
}
.links-nosotros li a{
  color: black;
  font-family: 'poppins_regular';
  font-size: 20px;
  text-decoration: none;
  transition: 0.4s all;
}
.links-nosotros li a:hover, .links-nosotros li a:focus{
  color: #e77800;
  text-decoration:underline ;
  font-family: 'poppins_regular';
  font-size: 20px;
}
.links-nosotros li .active{
  color: #e77800;
  text-decoration:underline !important;
  font-family: 'poppins_regular';
  font-size: 20px;
}

.quienes-somos{
  margin-top: 80px;
}
.somos-energy{
  margin-bottom: 30px;
}
.titleSectionNosotros h1{
  color: #e77800;
  font-family: 'montserrat_bold';
  font-size: 28px;
  margin: 25px 0px;
}
.positionImageNosotros{
  margin: auto;
  margin-top: 50px;
  width: 100%;
}
.textoSectionNosotros p{
  color: black;
  font-family: 'poppins_regular';
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}
.textoSectionNosotros ul{
  list-style: none;
  margin-left: 10px;
}
.textoSectionNosotros ul li{
  color: black;
  font-family: 'poppins_regular';
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: justify;
}

.textoSectionNosotros ul li::before { 
  /*content: "\2022";  
  color: #e77800; 
  display: inline-block; 
  padding-right: 10px;
  font-size: 40px;
  line-height: 25px;
  vertical-align: -9px;
  width: 15px;*/
  content: "\2022";
  color: #e77800;
  font-weight: bold;
  display: inline-block; 
  width: 11px;
  margin-left: -1em;
}


/*EDC EN PERÚ*/
.introTextEDC{
  max-width: 320px;
}
.positionSection4EDC{
  margin-top: -60px;
  position: relative;
  z-index: -2;
}
.titleSectionDepartamento h1{
  color: black;
  font-family: 'montserrat_bold';
  font-size: 28px;
  margin: 25px 0px;
}

.sectionDepartamento{
  margin:30px 0px;
}
.sectionDepartamento2{
  margin-bottom:30px;
}

.detalleImagen{
  margin-top: 10px;
}
.detalleImagen p{
  color: black;
  font-family: 'poppins_regular';
  font-size: 20px;
  font-style: italic;
  margin: 0px;
}
.espacioImgConDescripcion{
  margin-bottom: 20px;
}
.espacioRowImagenes{
  padding: 35px 20px;
}


/*CONTACTO*/
.estiloDatosContacto{
  color: #333b55;
  margin-top: 15px;
  font-family: 'gotham_book';
  font-size: 19px;
  line-height: 25px;
}
.espacioMapa{
  margin-top: 30px;
}

/*NOTICIAS*/
.noticiaEDC{
  text-decoration: none;
  max-width: 380px;
}
.fechaNoticiaEDC {
  color: #333b55;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'montserrat_semibold';
  font-size: 18px;
  margin: 15px 0px;
}

.tituloNoticiaEDC h1{
  color:#e77800;
  font-family: 'montserrat_bold';
  font-size: 21px;
  margin: 0px;
  height: 100px;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow: hidden;
}
.textoNoticiaEDC p{
  color: black;
  font-family: 'poppins_regular';
  font-size: 14px;
  margin: 0;
  line-height: 20px;
  height: 140px;
  text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
}

.alignButtons{
  text-align: right;
}
.noticiasButton{
  background: transparent;
  border: 0;
  margin: 5px 10px;
  padding: 0px;
}

@media (min-width: 320px) {

  #linksHeaderChange {
    align-items: center;
  }

  .bannerBack {

    min-height: 600px;
  }

  .tituloBanner h1 {
    font-family: 'poppins_extrabold';
    font-size: 30px;
    line-height: 45px;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 2px black;
  }
  .tituloBanner2 h1 {
    font-family: 'poppins_extrabold';
    font-size: 40px;
    line-height: 45px;
    margin: 0;
    color: black;
  }

  .tituloBanner3 h1 {
    font-family: 'poppins_extrabold';
    font-size: 40px;
    line-height: 45px;
    margin: 0;
    color: white;
  }

  .linksFooter li a {
    font-size: 14px;
  }
  .linksFooter li a:hover, .linksFooter li a:focus{
    font-size: 14px;
  }
  
  

  .footerLeft {
    text-align: center;
  }

  .footerRight {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .botonBanner {
    margin-top: 40px;
    background-color: rgba(203, 111, 0, 0.8);
    padding: 40px 0px;
  }

  .textBanner {
    color: white;
    font-family: 'montserrat_medium';
    font-size: 15px;
    max-width: 90%;
  }

  .npMobile{
    padding:0px 15px;
  }

  .columSectionEDC{
    column-count: 1;
    column-gap: 0px;
  }

  .imagenNoticiaEDC img{
    height: 250px;
    width: 100%;
  }
  .noticiaEDC{
    margin: 10px auto;
  }


}

/*Fin 320*/
@media (min-width: 375px) {}

/*Fin 375*/

@media (min-width: 425px) {}

/*Fin 425*/
@media (min-width: 560px) {
  .pad-form {
    padding-left: 20%;
    padding-right: 20%;
  }

}

/*Fin 425*/

@media (min-width: 768px) {
  .pad-form {
    padding-left: 25%;
    padding-right: 25%;
  }


  .bannerBack {

    min-height: 750px;
  }

  .tituloBanner h1 {
    font-size: 45px;
    line-height: 52px;
  }
  .tituloBanner2 h1 {
    font-size: 60px;
    line-height: 59px;
  }
  .tituloBanner3 h1 {
    font-size: 60px;
    line-height: 59px;
  }

  .footerLeft {
    text-align: left;
  }

  .footerRight {
    justify-content: end;
  }

  .botonBanner {
    padding: 40px 40px;
  }

  .textBanner {
    font-size: 24px;
    max-width: 90%;
  }

  .noticiaEDC{
    margin: 20px 0px;
  }

  .imagenNoticiaEDC img{
    height: 280px;
  }

  .ImageDepartamentSection img{
    max-height: 250px;
  }

  .linksFooter li a {
    font-size: 15px;
  }
  .linksFooter li a:hover,.linksFooter li a:focus  {
    font-size: 15px;
  }
 
}

/*Fin 768*/
@media (min-width: 992px) {

  .pad-form {
    padding-left: 33.333%;
    padding-right: 33.333%;
  }

  .links li a {
    font-size: 13px;
  }

  .links li a:hover,.links li a:focus  {
    font-size: 13px;
  }

  #linksHeaderChange {
    align-items: center;
  }

  .npMobile{
    padding:0px;
  }

  .columSectionEDC{
    column-count: 2;
    column-gap: 30px;
  }

  .ImageDepartamentSection img{
    max-height: 345px;
  }

  .padRightEDC{
    padding-right: 40px;
  }
  .padLeftEDC{
    padding-left: 40px;
  }

}

/*Fin 992*/

@media (min-width: 1200px) {
  .pad-form {
    padding-left: 30%;
    padding-right: 30%;
  }

  .links li a {
    font-size: 16px;
  }

  .links li a:hover,.links li a:focus  {
    font-size: 16px;
  }

  .bannerBack {
    min-height: 750px;
  }

  .linksFooter li a {
    font-size: 17px;
  }
  .linksFooter li a:hover,.linksFooter li a:focus  {
    font-size: 17px;
  }

  .ImageDepartamentSection img{
    max-height: 405px;
  }


}

/*Fin 1200*/

@media (min-width: 1400px) {

  .links li a {
    font-size: 19px;
  }

  .links li a:hover,.links li a:focus {
    font-size: 19px;
  }

  .textBanner {
    font-size: 20px;
    max-width: inherit;
  }



}

/*Fin 1400*/


/*Swiper Styles*/
.swiper-container-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-container-home>.swiper-wrapper {
  width: 100%;
}

.swiper-container-home>.swiper-pagination-bullets>.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: white;
  opacity: 1;
  outline: none;
}

.swiper-container-home>.swiper-pagination-bullets>.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background-color: #e56302;
  outline: none;
}